/* Global */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

:root {
  --main-color: #4a4a4a;
  --secondary-color: #9e78a5;
  --padding-divs: 16px;
  --margin-divs: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--main-color);
  font-family: 'Marcellus SC', serif;
  color: rgb(206, 206, 206);
  margin: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}
h2 {
  /* padding: var(--padding-divs); */
  /* margin: var(--margin-divs); */
  color: white;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}

.bot-space {
  height: 10px;
  padding-bottom: 50px;
}

/* v ===================== Class Frameworks Global ===================== v */
.box-shadow {
  border-radius: 40px;
  background: var(--main-color);
  box-shadow: 5px 5px 14px #3f3f3f, -5px -5px 14px #555555;
}
.inset-gray {
  border-radius: 40px;
  background: var(--main-color);
  box-shadow: inset 5px 5px 14px #3f3f3f, inset -5px -5px 14px #555555;
}
.inset-purple {
  border-radius: 40px;
  background: #755f79;
  box-shadow: inset 5px 5px 10px #5b4a5e, inset -5px -5px 10px #8f7494;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
}
.justify-align-center {
  justify-content: center;
  align-items: center;
}
/* ^ ===================== Class Frameworks Global ===================== ^ */
/* ===================== Scroll Bar ===================== */
/* width */
::-webkit-scrollbar {
	width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 5px 5px 14px #3f3f3f, inset -5px -5px 14px #555555;
	border-radius: 0;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--secondary-color); 
	border-radius: 0px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {background: var(--secondary-color); }
/* ===================== Scroll Bar Ends ===================== */
/* Containers */
.main-container {
  margin: 16px;
  border-radius: 25px;
  height: 90vh;
  background: var(--main-color);
}

.container-right,
.container-left {
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 16px auto;
  padding: var(--padding-divs);
  height: 90%;
  flex-wrap: wrap;
}
.container-right {
  order: 2;
  width: 30%;
}
.container-left {
  order: 1;
  width: 70%;
}

/* ===================== LEFT CONTAINER ===================== */
/* Left Container Global */
.char-fav-container, .chatroom-form {
  width: 100%;
  max-width: 1000px;
  height: 380px;
  padding: 32px;
  margin: 16px auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.characters, .fav-actions, .chatroom, .newSession {
  justify-content: flex-start;
  align-items: stretch;
  width: 50%;
  height: 100%;
  padding: 16px 32px;
  margin: auto 16px;
}
.form-control  {
  width: 100%;
}
.chat-submit {
  border: 0;
  outline: 0;
  padding: 8px;
  margin: var(--margin-divs) auto;
  border-radius: 40px;
  text-shadow: 1px 1px 0 #292929;
  background-color: #795e7e;
  box-shadow:  7px 7px 14px #4b404e, 
              -7px -7px 14px #504952;
  transition: .5s all;
  color: rgb(197, 197, 197);
  cursor: pointer;
  width: 50%;
}
.chat-submit:hover {
  background: #5b4a5e;
  box-shadow:   inset 5px 5px 8px #504153, 
                inset -5px -5px 8px #665369;
  transition: .5s all;
}

input, select {
  margin: 10px auto;
  box-shadow: inset 6px 6px 9px #3d3d3d, inset -6px -6px 9px #575757;
  width: 100%;
  transition: 0.5s all;
  border: 0;
  outline: 0;
  border-radius: 10px;
  padding: 8px;
  background-color: #505050;
  color: rgb(233, 233, 233);
}

input:focus {
  box-shadow: inset 5px 5px 10px #444444, inset -5px -5px 10px #636363;
}
/* End of Left Container Global */

.user-profile {
  margin: 16px auto;
  padding: var(--margin-divs);
  width: 100%;
  max-width: 1000px;
  height: 80px;
}
.logout {
  width: fit-content;
  height: auto;
  margin: var(--margin-divs);
  padding: 16px;
  text-align: center;
}

/* ======= Characters ======= */
/* Character Creation */
.characters {
  border-right: 2px rgb(63, 63, 63) solid;
}
.create-character {
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
}

/* Favorite Actions */

/* Chat Room Container */
.newSession {
  border-right: 2px rgb(63, 63, 63) solid;
}

/* ===================== RIGHT CONTAINER ===================== */
/* Chat Archive Container */
.chat-container, .chat-logbox {
  width: 100%;
  margin: 16px auto;
  padding: 32px;
  border-radius: 45px;
}
.chat-container {
  height: 20%;
  border-bottom: 2px rgb(63, 63, 63) solid;
}
.chat-archive {
  list-style: none;
  text-align: center;
}
.chat-logbox {
  height: 40%;
}

/* SLIDER ANIMATION */
.img-slider{
  position: relative;
  width: 54%;
  height: 100%;
  margin: 10px auto 16px;
  padding: 10px;
  /* background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0.0% at 0 50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 1s;
  transition-property: clip-path;
}

.img-slider .slide img{
  /* z-index: 1; */
  width: 90%;
  height: auto;
  border-radius: 15px;
}

.img-slider .slide .info{
  position: absolute;
  top: 0;
  padding: 15px 30px;
}

.img-slider .slide .info h2{
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.img-slider .slide .info p{
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 4px;
}

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 30px;
}

.img-slider .navigation .btn{
  background: rgba(255, 255, 255, 0.5);
  width: 10px;
  height: 10px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: var(--secondary-color);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 820px){
  .img-slider{
    width: 600px;
    height: 375px;
  }

  .img-slider .slide .info{
    padding: 10px 25px;
  }

  .img-slider .slide .info h2{
    font-size: 35px;
  }

  .img-slider .slide .info p{
    width: 70%;
    font-size: 15px;
  }

  .img-slider .navigation{
    bottom: 25px;
  }

  .img-slider .navigation .btn{
    width: 10px;
    height: 10px;
    margin: 8px;
  }
}

@media (max-width: 620px){
  .img-slider{
    width: 400px;
    height: 250px;
  }

  .img-slider .slide .info{
    padding: 10px 20px;
  }

  .img-slider .slide .info h2{
    font-size: 30px;
  }

  .img-slider .slide .info p{
    width: 80%;
    font-size: 13px;
  }

  .img-slider .navigation{
    bottom: 15px;
  }

  .img-slider .navigation .btn{
    width: 8px;
    height: 8px;
    margin: 6px;
  }
  
  /* .char-fav-container, .chatroom-form {
    width: 100%;
    max-width: 1000px;
    height: 380px;
    padding: 32px;
    margin: 16px auto;
    justify-content: flex-start;
    align-items: flex-start;
  } */
}


@media (max-width: 420px){
  .img-slider{
    width: 320px;
    height: 200px;
  }

  .img-slider .slide .info{
    padding: 5px 10px;
  }

  .img-slider .slide .info h2{
    font-size: 25px;
  }

  .img-slider .slide .info p{
    width: 90%;
    font-size: 11px;
  }

  .img-slider .navigation{
    bottom: 10px;
  }
}