/* Global */
:root {
  --main-color: #4a4a4a;
  --secondary-color: #9e78a5;
  --padding-divs: 16px;
  --margin-divs: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  font-family: "Yusei Magic", sans-serif;
  color: rgb(206, 206, 206);
  margin: 16px;
}
h2 {
  margin: var(--margin-divs);
  padding: var(--padding-divs);
  color: white;
  align-self: start;
}
a {
  text-decoration: none;
  color: white;
}

/* v ===================== Class Frameworks Global ===================== v */
.box-shadow {
  border-radius: 40px;
  background: var(--main-color);
  box-shadow: 5px 5px 14px #3f3f3f, -5px -5px 14px #555555;
}
.inset-gray {
  border-radius: 40px;
  background: var(--main-color);
  box-shadow: inset 5px 5px 14px #3f3f3f, inset -5px -5px 14px #555555;
}
.inset-purple {
  border-radius: 40px;
  background: #755f79;
  box-shadow: inset 5px 5px 10px #5b4a5e, inset -5px -5px 10px #8f7494;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
}
.justify-align-center {
  justify-content: center;
  align-items: center;
}
/* ^ ===================== Class Frameworks Global ===================== ^ */

/* Containers */
.main-container {
  margin: 16px;
  border-radius: 25px;
  height: 90vh;
  background: var(--main-color);
}

.container-right,
.container-left {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: var(--margin-divs);
  padding: var(--padding-divs);
  height: 90%;
}
.container-right {
  order: 2;
  width: 30%;
  /* margin-left: 0; */
}
.container-left {
  order: 1;
  width: 70%;
  /* margin-right: 0; */
}

/* Game Buttons */
.user-profile {
  justify-content: space-evenly;
  align-items: center;
  margin: 16px 0;
  width: 100%;
  height: 10%;
}
.game-button {
  margin: var(--margin-divs);
  padding: var(--padding-divs);
  width: 100%;
  height: 10%;
}
.lobby-button {
  margin: 50px;
  padding: 0;
  width: 50%;
}
.start-game,
.join-current {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  color: white;
}
.start-game {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #4a4a4a;
}
.join-current {
  /* border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */
  background-color: #755f79;
  margin: 5px;
}
.logout {
  width: 10%;
  height: auto;
  margin: var(--margin-divs);
  padding: var(--padding-divs);
  text-align: center;
}

/* Characters Section */
.char-fav-container {
  width: 100%;
  height: 30%;
  margin: 16px 0;
}
.fav-actions,
.characters {
  width: 100%;
}
.characters {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: #4a4a4a;
  height: 100%;
}
.fav-actions {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background-color: #755f79;
  height: 90%;
  margin: var(--margin-divs);
}
/* Chat Room Container */
.chatroom-form {
    width: 100%;
    height: 40%;
    padding: var(--padding-divs);
    margin: 16px 0;
    justify-content: flex-start;
    align-items: center;
    
}
.form-control  {
    width: 100%;
}
.chat-submit {
    border: 0;
    outline: 0;
    padding: 10px;
    margin: var(--margin-divs);
    border-radius: 40px;
    padding: 16px;
    text-shadow: 1px 1px 0 #292929;
    background-color: #795e7e;
    box-shadow:  7px 7px 14px #4b404e, 
                -7px -7px 14px #504952;
    transition: 1s all;
    color: rgb(197, 197, 197);
    cursor: pointer;
    width: 100%;
}
.chat-submit:hover {
  background: #5b4a5e;
  box-shadow:   inset 5px 5px 8px #504153, 
                inset -5px -5px 8px #665369;
  transition: 2s all;
}

input, select {
    margin: 10px;
    box-shadow: inset 6px 6px 9px #3d3d3d, inset -6px -6px 9px #575757;
    width: fit-content;
    transition: 0.5s all;
    border: 0;
    outline: 0;
    border-radius: 15px;
    padding: 10px;
    background-color: #505050;
    text-shadow: 1px 1px 0 #292929;
}

input:focus {
    box-shadow: inset 5px 5px 10px #444444, inset -5px -5px 10px #636363;
}

/* Chat Archive Container */
.chat-container {
  width: 100%;
  height: 20%;
  border-bottom: 2px solid rgba(65, 65, 65, 0.5);
  margin: 0 16px;
  border-radius: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.chat-archive {
  list-style: none;
  text-align: center;
}
.chat-logbox {
  width: 100%;
  height: 80%;
  margin: 0 16px;
  border-radius: 0;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}
